# version: "3.9"

services:
  flask:
    build: ./flask_server
    container_name: flask_server
    ports:
      - "5000:5000"
    volumes:
      - ./flask_server:/data
    networks:
      - ai_net
    restart: always

networks:
  ai_net:
    driver: bridge